.register {
  /* background-color: rgb(4, 81, 140);
  display: flex;
  justify-content: center;
  padding-top: 3%; */
}
.register form {
  padding: 2rem 1rem;
  width: 40%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  margin: 0 auto;
}
.register form button {
  color: white;
  border: none;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  height: 50px;
  background-color: rgb(4, 81, 140);
  cursor: pointer;
}
.register form button:hover {
  background-color: rgb(39, 144, 189);
}

/* .regImg {
  margin: 0%;
  padding: 0%;
} */
/* .register img {
  width: 100%;
  height: 100%;
  border-radius: 5px 0px 0px 5px;
} */

/* .group {
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 4fr);
  grid-template-rows: repeat(1, 400px);
  object-fit: contain;
} */
/* @media screen and (max-width: 600px) {

} */
